@font-face {
  font-family: 'Fira Code Medium';
  src: url("../fonts/FiraCode/FiraCode-Medium.woff2") format('woff2'), url("../fonts/FiraCode/FiraCode-Medium.woff") format("woff");
  font-weight: 500;
}
